$border-format: 1px solid #c9c9c9;

.product {

    .product-categories-min {
        border-bottom:1px inset #ffffff;
    }

    .product-categories-full {
        float: left;
        border-right: $border-format;
        padding-top: 10px;
        height: calc(100vh - 50px);
        background-color: #ffffff;
    }

    .product-category-list {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        overflow: auto;
        padding-top: 10px;
        max-height: calc(100vh - 50px);
        background-color: #fafafa;
    }

    .product-categories-min {
        display: none;
    }

    .product-categories-full {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 650px) {

    .product {

        .product-categories-min {
            display: block;
        }

        .product-categories-full {
            display: none;
        }

        .product-category-list {
            width: 100%;
            height: 100%;
            max-height: calc(100vh - 110px);
        } 
    }
}

@media screen and (min-width: 651px) and (max-width: 1100px) {

    .product-categories-full {
        width: 18%;
    }

    .product-category-list {
        width: 82%;
    }
}

@media screen and (min-width: 1101px) {

    .product-categories-full {
        width: 28%;
    }

    .product-category-list {
        width: 72%;
    }
}
