$border-format: 1px solid #c9c9c9;

.product {
    > div {
        height: 100%;
        
    }

    .product-categories-full {
        float: left;
        border-right: $border-format;
        padding-top: 10px;
    }

    .product-category-list {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        overflow: auto;
        padding-top: 10px;
    }
}

.product-categories-min {
    background-color: red;
}

@media screen and (max-width: 650px) {
    .product-categories-full {
        display: none;
    }
}

@media screen and (min-width: 651px) and (max-width: 1100px) {
    .product-categories-min {
        display: none;
    }

    .product-categories-full {
        width: 18%;
        display: flex;
        flex-direction: column;
    }

    .product-category-list {
        width: 82%;
    }
}

@media screen and (min-width: 1101px) {
    .product-categories-min {
        display: none;
    }

    .product-categories-full {
        width: 28%;
        display: flex;
        flex-direction: column;
    }

    .product-category-list {
        width: 72%;
    }
}
