$border-format: 1px solid #c9c9c9;

.selectable-item:hover {
    background-color: #dad6d6;
    cursor: pointer;
}

.product-categories-item-selected {
    background-color: #e0e0e0;
}

.product-categories-item {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
    display: block;
    text-decoration: none;
    color: #444444;

    .product-categories-item-icon {
        background-color: #636363;
        border-radius: 50%;
        padding: 7px;
        color: #f3f3f2
    }

    span {
        margin-left: 10px;
        position: relative;
        bottom: 7px;
    }
}

.product-categories-head {
    border-bottom: $border-format;
    padding-bottom: 5px;


    .product-categories-tittle {
        color: #939493;
        font-size: 18px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
}
